
<p>After almost 20 years working with Industrial Control Systems (ICS) and Operational Technology (OT),
   my recent work has been centred on:</p>

<dl>
  <dt><b>Operational Technology</b>:</dt>
    <dd>Advanced control systems design and SCADA development for Marine and Nuclear applications.</dd>
  <dt style="margin-top: 20px;"><b>ICS Cybersecurity</b>:</dt>
    <dd>For more than three years, I have been doing research to address a silent threat that is targeting current
        unsecured industrial infrastructures.</dd>
  <dt style="margin-top: 20px;"><b>PLC Programming Training</b>:</dt>
    <dd>Provide training using simulated industrial environments and real or simulated PLCs.</dd>
</dl>