<div class="row">
    <div class="column" style="float: left; width: 55%;">
        <h2>Competencies</h2>
        <ul>
            <li>ICS Architecture Design</li>
            <li>PLC Software Development</li>
            <li>SCADA Development</li>
            <li>AC/DC Drives Configuration</li>
            <li>Electrical Schematics</li>
        </ul>
        <ul>
            <li>ICS Cybersecurity Audits (IEC 62443)</li>
            <li>ICS Pen Testing</li>
        </ul>
        <ul>
            <li>PLC Programming Training</li>
            <li>Technical Support</li>
        </ul>
        <h2>Training</h2>
        <ul>
            <li>Certified Machinery Safety Expert, TUV NORD</li>
            <li>BOSIET with CA-EBS & EBS (OPITO Approved)</li>
            <li>GWO Sea Survival</li>
            <li>GWO Work at Height</li>
            <li>GWO First Aid</li>
            <li>GWO Fire Awareness</li>
        </ul>
    </div>
    <div class="column" style="float: left; width: 45%;">
        <h2>Tools</h2>
        <h3>SIEMENS</h3>
        <ul>
            <li>Step 7 Professional</li>
            <li>WinCC Professional</li>
            <li>Drive ES Starter</li>
            <li>Direct Tech Support</li>
        </ul>
        <h3>Rockwell / Allen Bradley</h3>
        <ul>
            <li>Studio 5000 / Architect / Emulate</li>
            <li>RSNetworkx</li>
            <li>Direct Tech Support</li>
        </ul>
        <h3>ABB</h3>
        <ul>
            <li>Automation Builder</li>
            <li>DriveComposer Pro</li>
        </ul>
        <h3>Others</h3>
        <ul>
            <li>CODESYS</li>
            <li>Exor JMobile Studio</li>
            <li>EPLAN P8</li>
            <li>FactoryIO</li>
    </div>
</div>