<nav>
  <table>
    <tr>
      <td class="nav"><a class="nav" href="/">Home</a></td>
      <td class="nav_space"></td>
      <td class="nav"><a class="nav" href="/posts_ot.html">Operational Technology</a></td>
      <td class="nav_space"></td>
      <td class="nav"><a class="nav" href="/posts_cyber.html">Cybersecurity</a></td>
      <td class="nav_space"></td>
      <td class="nav"><a class="nav" href="/posts_lifestyle.html">Lifstyle</a></td>
      <td class="nav_space"></td>
      <td class="nav"><a class="nav" href="/about_ct.html">About</a></td>
      <td></td>
      <td class="nav"><a href="https://www.ncsc.gov.uk/cyberessentials/overview"><img src="/assets/images/generic/cyberessentials.png"></a></td>
      <td style="width: 20px;"></td>
      <td class="nav"><a href="https://www.linkedin.com/in/eoliversec"><img src="/assets/images/generic/linkedin.png"></a></td>
      <td class="nav_space"></td>
      <td class="nav"><a href="https://twitter.com/eoliversec"><img src="/assets/images/generic/twitter.png"></a></td>
    </tr>
  </table>
  <hr>
</nav>