td.nav {
  width: 1%;
  white-space: nowrap;
}

td.nav_space {
  width: 18px;
}

a.nav {
  font-weight: bold;
  font-size: 110%;
  letter-spacing: 1px;
  text-decoration:none;
  border: 10px;
}

td.section {
  color: #ffeccb;
  font-weight: bold;
  font-size: 120%;
  text-align: right;
  //border-bottom: solid 1px #ffeccb;
  padding-right: 16px;
  padding-bottom: 8px;
}

td.technote {
  font-size: 75%;
  text-align: right;
  line-height: 130%;
}

td.pdficon {
  text-align: right;
}

// Post lists

td.post_title {
  font-size: 115%;
  vertical-align: top;
}

p.post_abstract {
  font-size: 90%;
  font-style: italic;
  vertical-align: top;
  margin-top: 0%;
  margin-bottom: 0%;
}

p.post_date {
  font-size: 70%;
  vertical-align: top;
  margin-top: 0%;
  margin-bottom: 0%;
}