td.nav {
  width: 1%;
  white-space: nowrap;
}

td.nav_space {
  width: 18px;
}

a.nav {
  font-weight: bold;
  font-size: 110%;
  letter-spacing: 1px;
  text-decoration:none;
  border: 10px;
}

table.definitions {
  font-size: 85%;
  border-collapse: collapse;
}

tr.definitions {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

th.definitions {
  text-align: left;
  background-color: gray;
}

table.post {
  border: 1px solid gray;
  border-collapse: collapse;
  font-size: 85%;
}

th.post {
  text-align: left;
  border: 1px solid gray;
  background-color: gray;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

td.post {
  text-align: left;
  border: 1px solid gray;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

td.section {
  color: #ffeccb;
  font-weight: bold;
  font-size: 120%;
  text-align: right;
  //border-bottom: solid 1px #ffeccb;
  padding-right: 16px;
  padding-bottom: 8px;
}

td.technote {
  font-size: 75%;
  text-align: right;
  line-height: 130%;
}

td.pdficon {
  text-align: right;
}

// Post lists

td.post_title {
  font-size: 115%;
  vertical-align: top;
}

p.post_abstract {
  font-size: 90%;
  font-style: italic;
  vertical-align: top;
  margin-top: 0%;
  margin-bottom: 0%;
}

p.post_date {
  font-size: 70%;
  vertical-align: top;
  margin-top: 0%;
  margin-bottom: 0%;
}
