body {
    padding:10px 0 20px 0px;
    margin: 0px;
    font-family: "Helvetica", "Tahoma", "Verdana";
    font-size: 11pt;
    line-height: 150%;
    color:#d8d8d8;
    background: #192837;
    background-attachment: fixed !important;
}

.header {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

table {
  width: 100%;
}

a {
  color:#3c6e96;
  font-weight: bold;
  text-decoration:none;
  border: 10px;
  &:hover {
    color: #cdffff;
  }
}

div.footnotes {
  font-size: 75%;
  line-height: 100%;
}

code.language-plaintext {
  color: #c9a950;
  font-weight: bold;
}

